@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --heading-font-family: Alata, sans-serif;
  --body-font-family: 'Open Sans', sans-serif;

  --section-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  --card-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  --content-inline-margin: 1.5rem;
  --content-padding-block: 2rem;

  --btn-primary-background: #e85810;
  --btn-primary-background-hover: #d0450e;
  --btn-primary-txt-clr: #fff;
  --btn-primary-border-clr: #e85810;
  --btn-primary-border-clr-hover: #d0450e;

  --btn-secondary-background: transparent;
  --btn-secondary-background-hover: transparent;
  --btn-secondary-txt-clr: #000;
  --btn-secondary-border-clr: #000;
  --btn-secondary-border-clr-hover: #000;

  --btn-tertiary-background: transparent;
  --btn-tertiary-txt-clr: #000;
  --btn-tertiary-border-clr: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  button {
    font-family: var(--heading-font-family);
  }

  p {
    font-family: var(--body-font-family);
    line-height: 1.5;
  }

  button:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  a:focus-visible,
  button:focus-visible {
    outline: 1;
  }
}

.btn-primary,
.btn-secondary {
  padding-inline: 1.8em;
  padding-block: 0.75em;

  border-radius: 0.5rem;
  border: 0;

  font-size: 1.125rem;
}

.btn-primary {
  background-color: var(--btn-primary-background);
  border: 1px solid var(--btn-primary-border-clr);
  color: var(--btn-primary-txt-clr);

  &:hover {
    background-color: var(--btn-primary-background-hover);
    border-color: var(--btn-primary-border-clr-hover);
  }
}

.btn-secondary {
  background-color: var(--btn-secondary-background);
  color: var(--btn-secondary-txt-clr);
  border: 1px solid var(--btn-secondary-border-clr);

  &:hover {
    background-color: var(--btn-secondary-background-hover);
    border-color: var(--btn-secondary-border-clr-hover);
  }
}

.btn-tertiary {
  padding-inline: 1.5em;
  padding-block: 0.5em;

  border-radius: 0.5rem;
  border: 0;

  font-size: 1rem;

  background-color: var(--btn-tertiary-background);
  color: var(--btn-tertiary-txt-clr);
  border: 1px solid var(--btn-tertiary-border-clr);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  padding-block: var(--content-padding-block);

  box-shadow: var(--section-shadow);

  > * {
    margin-inline: var(--content-inline-margin);
  }

  .logo {
    width: 100%;
    max-width: 150px;
  }

  @media screen and (width > 740px) {
    flex-direction: row;
  }
}

.pageContent {
  padding-block: var(--content-padding-block);

  > * {
    margin-inline: var(--content-inline-margin);
  }
}

.divider {
  align-self: normal;
}

.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  p {
    max-width: 100ch;
  }
}

.incentiveSection {
  display: flex;
  flex-direction: column;
  gap: var(--content-padding-block);
  padding-top: 0;

  > div {
    display: grid;
    grid-template-areas: 'heading heading' 'textContent textContent' 'button button' 'image image';

    row-gap: 2.5rem;
    place-items: center;

    padding-bottom: 0;

    h2 {
      grid-area: heading;
    }

    p {
      grid-area: textContent;
      min-width: 25ch;
      max-width: 80ch;
    }

    button {
      grid-area: button;
    }

    .imgContainer {
      grid-area: image;

      img {
        object-fit: cover;
        width: 100%;
        max-width: 600px;
      }
    }

    @media screen and (width > 740px) {
      grid-template-areas: 'heading image image' 'textContent image image' 'button image image';
      align-items: start;

      p {
        padding-right: 1.5rem;
      }

      .imgContainer {
        img {
          max-width: 400px;
        }
      }
    }
  }
}

.instructionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .instructionsDisplay {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    > div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;

      .stepNumber {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.5rem;
        font-weight: bold;
        font-weight: 600;
      }

      .imageWrapper {
        aspect-ratio: 1;
        border-radius: 100%;
        border: 5px solid orange;
        padding: 1.5rem;
        img {
          max-width: 125px;
        }
      }

      .instructions {
        font-size: 1.25rem;
        font-weight: bold;
        font-weight: 600;
      }
    }
  }

  @media screen and (width > 740px) {
    h2 {
      align-self: start;
    }

    .instructionsDisplay {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.fundraisersSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  box-shadow: var(--section-shadow);

  > article {
    margin-inline: var(--content-inline-margin);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .input-group {
      position: relative;
      min-width: 14.5rem;
      border: 1px solid #a1a1a1;
      padding-inline: 0.7rem;
      padding-block: 0.4rem;
      border-radius: 0.25rem;

      &:focus-within {
        outline: 1px solid #6f6f6f;
      }

      input {
        border: 0;
        width: 100%;
        height: 100%;

        &:focus-visible {
          outline: 0;
        }
      }

      &::after {
        position: absolute;
        content: '\1F50D';
        right: 0.6rem;
        color: #a1a1a1;
        opacity: 0.5;
      }
    }

    .fundraisersDisplay {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2.5rem;

      .fundraiserCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 16px;
        padding: 1.5rem;
        width: 400px;

        box-shadow: var(--card-shadow);

        .fundraiserImage {
          object-fit: cover;
          width: 100%;
        }

        .collectedDisplay {
          align-self: start;
          font-size: 0.9rem;

          .amount {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }
    }

    @media screen and (width > 740px) {
      .input-group {
        align-self: start;
      }
    }
  }
}

.faqSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  p {
    max-width: 60ch;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: 1.5rem;
  background-color: #000;

  * {
    color: #fff;
  }

  .linkGroup {
    display: flex;
    gap: 2rem;
    font-family: var(--heading-font-family);
    font-size: 1.25rem;
  }

  .linkGroup.socials {
    gap: 1.5rem;

    * {
      font-size: 2rem;
    }

    .linkGroupItem {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      width: 50px;
      border-radius: 100%;
      background-color: #fff;
      color: #000;

      * {
        color: #000;
      }
    }
  }

  .watermark {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 0.5rem;
    font-size: 0.8rem;

    span {
      opacity: 0.75;
    }

    .adoveoLogo {
      img {
        width: 100%;
        max-width: 120px;
      }
    }
  }
}
